@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=PT+Sans+Narrow&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000814;
  color: lightblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

button {
  background-color: #ffc300;
  color: black;
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
}

button:active {
  background-color: #ffd60a;
}

.container {
  background-color: #001d3d;
  padding: 20px;
  border-radius: 20px;

}

.card {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightblue;
  border-radius: 20px;
  padding: 10px 20px;
  row-gap: 20px;
  background-color: #003566;

}

h1 {
  font-family: 'Comfortaa', cursive;
}

p {
  font-size: 10rem;
  font-family: 'Schibsted Grotesk', sans-serif;
  font-weight: bold;
}

h2 {
  color: #ffd60a;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2rem;
}

.reset-button {
  position: absolute;
  bottom: 0;
  right: 5px;

}

@media screen and (min-width: 800px) {
  .card {
    width: 50vw;
  }
}
  